* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f2235 !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 15px 50px;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 999;
  animation: scroll 0.6s 1;
  .menu-btn {
    float: right;
    position: relative;
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: none;
    .menu-btn_burger {
      cursor: pointer;
      width: 30px;
      height: 3px;
      background: white;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
      &::before {
        transform: translateY(-10px);
      }
      &::after {
        transform: translateY(10px);
      }
    }
  }
  .open {
    .menu-btn_burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
      &::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      &::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }
  }

  .logo {
    float: left;
    a {
      color: whitesmoke;
      visibility: hidden;
    }
  }
  ul {
    float: right;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    li {
      display: inline-block;
      list-style: none;
      text-transform: uppercase;
      a {
        list-style: 80px;
        color: whitesmoke;
        padding: 5px 20px;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        &:hover {
          transition: all 0.3s ease-in;
          text-decoration: none;
          color: #ff4a57;
        }
      }
    }
  }
}
.black {
  background-color: #1f2235 !important;
  height: 50px;
  color: whitesmoke;
  animation: scroll1 1s 1;
  .logo {
    a {
      font-size: 20px;
      letter-spacing: 3px;
      font-family: "Kanit", sans-serif;
      color: #ff4a57;
      visibility: visible;
      cursor: pointer;
      &:hover {
        color: #ff4a57;
      }
    }
  }
}
@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes scroll1 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
//////////////
#banner {
  margin-top: 30px;
  .container {
    .row {
      .sidename {
        margin-top: 250px;
        .tite {
          color: #ff4a57;
          font-family: "Kanit", sans-serif;
          font-size: 8vh;
          font-weight: bolder;
          letter-spacing: 4px;
        }
        .blinking {
          font-family: "Roboto", sans-serif;
          color: whitesmoke;
          overflow: hidden;
          font-size: 4vh;
          letter-spacing: 2px;
          opacity: 0.7;
        }
        .icon {
          .fa {
            transition-duration: 0.2s;
            cursor: pointer;
            color: whitesmoke;
            padding-right: 30px;
            // font-size: 20px;
            &:hover {
              color: #ff4a57;
            }
          }
        }
      }
      .image {
        img {
          filter: drop-shadow(0.8rem 0.7rem 0.7rem rgba(46, 45, 45, 0.637));
        }
      }
    }
  }
  .middle {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    .mouse {
      cursor: pointer;
      width: 30px;
      height: 50px;
      border: 1px solid white;
      border-radius: 60px;
      &::before {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: 10px;
        background: whitesmoke;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        opacity: 1;
        animation: mouse 2s infinite;
      }
    }
  }
}
.add {
  .middle {
    visibility: hidden;
  }
}
@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

#about {
  padding: 100px 0px;
  color: whitesmoke;
  .container {
    .row {
      .maimg {
        // border: 3px solid #ff4a57;
        // padding: 15px;
        // border-radius: 5px;
        height: 500px;
        object-fit: cover;
      }
      p {
        font-family: "Quicksand", sans-serif;
        text-align: justify;
      }
      .sign {
        padding-top: 10px;
        width: 300px;
        transform: skewY(-10deg);
      }
    }
  }
}
#skills {
  margin-top: 80px;
  .container {
    .head {
      h1 {
        font-family: "Kanit", sans-serif;
        letter-spacing: 2px;
      }
    }
    p {
      padding-top: 40px;
      padding-bottom: 10px;
      font-family: "Quicksand", sans-serif;
      color: whitesmoke;
    }
    .mainbar {
      width: 500px;
      padding: 20px;
      list-style: none;

      li {
        h3 {
          font-size: 20px !important;
        }
        font-family: "Quicksand", sans-serif;
        color: whitesmoke;
        margin: 20px 0;

        .bar {
          background: #353b48;
          display: block;
          height: 5px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 3px;
          overflow: hidden;
          box-shadow: 0 0 10px #2187e7b3;
          span {
            height: 2px;
            float: left;
            background: #2187e7;
          }
          .html {
            width: 95%;
            animation: html 2s;
          }
          .java {
            width: 82%;
            animation: java 2s;
          }
          .script {
            width: 90%;
            animation: script 2s;
          }
          .angular {
            width: 70%;
            animation: angular 2s;
          }
          .sql {
            width: 75%;
            animation: sql 2s;
          }
          .fire {
            width: 86%;
            animation: fire 2s;
          }
          .flut {
            width: 65%;
            animation: flut 2s;
          }
          .c1 {
            width: 96%;
            animation: flut 2s;
          }
          .c2 {
            width: 94%;
            animation: flut 2s;
          }
          .sqlite {
            width: 80%;
            animation: flut 2s;
          }
        }
      }
    }
  }
}

#education {
  font-family: "Quicksand", sans-serif;
  padding-top: 80px;
  .container {
    .head {
      h1 {
        font-family: "Kanit", sans-serif;
        letter-spacing: 2px;
      }
    }
    .eduDetail {
      width: 100%;
      padding: 0px 100px;
      margin: 0 auto;
      margin-top: 50px;
      color: #fff;
      .panel {
        p {
          font-family: "Quicksand", sans-serif;
          text-align: justify;
        }
      }
      .accordion {
        width: 100%;
        padding: 0 5px;
        border: 1px solid #ff4a57;
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        margin: 15px 0;
        align-items: center;
        transition: all 0.5s ease-in;
        justify-content: space-between;
        &:hover {
          background-color: #ff4a563d;
        }

        .icon {
          color: #ff4a57;
          margin: 0 10px 0 0;
          float: left;
          transition: all 0.5s ease-in;
          font-size: 13px;
          &::after {
            content: "\f067";
            font-family: "fontawesome";
          }
        }
        h5 {
          float: left;
          line-height: 40px;
          font-size: 22px;
          margin: 0;
          font-weight: normal;
          color: whitesmoke;
          padding-left: 10px;
        }
      }
      .active {
        background-color: #ff4a563d;
        font-size: 13px;
        .icon::after {
          content: "\f068";
        }
      }
      .panel {
        padding: 0 15px;
        border-left: 1px solid #ff4a57;
        margin-left: 25px;
        font-size: 14px;
        text-align: justify;
        overflow: hidden;
        max-height: 0;
        transition: all 0.3s ease-in;
      }
    }
  }
}
#contact {
  margin-top: 80px;
  .container {
    h1 {
      font-family: "Kanit", sans-serif;
      letter-spacing: 2px;
    }
    .first {
      padding-top: 40px;
    }
    color: whitesmoke;
    .row {
      margin-top: 80px;
      color: whitesmoke;
      .co {
        .c {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .input-group {
            position: relative;
            margin-bottom: 20px;
            width: 300px;
            .input-area {
              width: 300px;
              background: #1f2235;
              outline: none;
              border: 1px solid whitesmoke;
              padding: 14px 13px;
              font-size: 18px;
              border-radius: 5px;
              color: whitesmoke;
              &:focus {
                border: 1px solid #ff4a57;
                + .label {
                  top: -8px;
                  padding: 0 3px;
                  font-size: 14px;
                  color: whitesmoke;
                }
              }
              &:valid + .label {
                top: -8px;
                padding: 0 3px;
                font-size: 14px;
                color: whitesmoke;
              }
            }
            .label {
              color: #ff4a57;
              position: absolute;
              top: 15px;
              left: 13px;
              background: #1f2235;
              color: whitesmoke;
              transition: 0.2s;
            }
          }

          .Button {
            margin-top: 30px;
            border-radius: 5px;
            transition-duration: 0.4s;
            padding: 16px 13px;
            width: 300px;
            background-color: #1f2235;
            color: #ff4a57;
            border: 2px solid #ff4a57;
            &:hover {
              background-color: #ff4a57;
              color: whitesmoke;
            }
          }
        }
      }
      #map {
        width: 100%;
        height: 500px;
      }
    }
  }
}

#footer {
  margin-top: 130px;
  hr {
    background-color: #fff;
  }
  .container {
    .logo {
      color: white;
      font-size: 20px;
      &:hover {
        text-decoration: none;
        color: #fb527a;
      }
      .social {
        a {
          padding-right: 30px;
          .fa {
            color: white;
            border-radius: 20px;
            margin: 15px 5px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            border: 2px solid white;
            transition: all 0.5s;
            &:hover {
              background: #ff4a57;
              border: 2px solid #fb527a;
              border-radius: 150px;
            }
          }
        }
      }
      hr {
        margin-top: 10px;
        color: white;
      }
      p {
        color: white;
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #nav-bar {
    position: sticky;
    .navbar {
      background-color: #1f2235 !important;
      padding: 0 10px !important;
    }
  }
  #banner {
    .container {
      .row {
        .sidename {
          margin-top: 60px;
          .tite {
            color: #ff4a57;
            // font-family: "Quicksand", sans-serif;
            font-size: 4vh;
            font-weight: 800;
            letter-spacing: 4px;
          }
          .blinking {
            font-family: "Roboto", sans-serif;
            color: whitesmoke;
            overflow: hidden;
            font-size: 3vh;
            letter-spacing: 2px;
            opacity: 0.7;
          }
          .icon {
            .fa {
              transition-duration: 0.2s;
              cursor: pointer;
              color: whitesmoke;
              padding-right: 30px;
              // font-size: 20px;
              &:hover {
                color: #ff4a57;
              }
            }
          }
        }
        img {
          margin-top: 80px;
        }
      }
    }
    .middle {
      position: absolute;
      top: 95%;
      left: 10%;
      transform: translate(-50%, -50%);
      .mouse {
        cursor: pointer;
        width: 30px;
        height: 50px;
        border: 1px solid white;
        border-radius: 60px;
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          position: absolute;
          top: 10px;
          background: whitesmoke;
          left: 50%;
          transform: translate(-50%);
          border-radius: 50%;
          opacity: 1;
          animation: mouse 2s infinite;
        }
      }
    }
  }
  #about {
    padding: 100px 10px;
    color: whitesmoke;
    .container {
      .row {
        overflow-x: hidden;
        .maimg {
          height: 450px;
        }
        p {
          padding-top: 80px;
          font-family: "Quicksand", sans-serif;
          text-align: justify;
        }
        .sign {
          padding-top: 10px;
          width: 300px;
          transform: skewY(-10deg);
        }
      }
    }
  }
  #education {
    .container {
      .eduDetail {
        overflow-x: hidden;
        padding: 0px;
      }
    }
  }
  #contact {
    margin-top: 80px;
    .container {
      .row {
        margin-top: 80px;
        color: whitesmoke;
        .co {
          .c {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
        #map {
          margin-left: 20px;
          margin-right: 20px;
          margin-top: 80px;
          width: 100%;
          height: 500px;
        }
      }
    }
  }
  #footer {
    .container {
      .logo {
        .social {
          a {
            padding-right: 10px;
            .fa {
              color: white;
              border-radius: 15px;
              margin: 15px 5px;
              width: 50px;
              height: 50px;
              line-height: 50px;
              font-size: 20px;
              border: 2px solid white;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 858px) {
  nav {
    padding: 15px 20px;
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #1f2235;
      top: 50px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        a {
          font-size: 20px;
          &:hover {
            background: none;
          }
        }
      }
    }

    .menu-btn {
      float: right;
      position: relative;
      display: flex;
      top: 10px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      .menu-btn_burger {
        width: 25px;
        height: 2px;
        background: whitesmoke;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 25px;
          height: 2px;
          background: whitesmoke;
          border-radius: 5px;
          box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
          transition: all 0.5s ease-in-out;
        }
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
    .open {
      .menu-btn_burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
        &::before {
          transform: rotate(45deg) translate(35px, -35px);
        }
        &::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }
    }
  }
}
.checked {
  ul {
    left: 0;
  }
}
